html{
    /*Purple*/
    /*background: #880066;*/
    /* White */
    /*background: white;*/
    /* Black */
    background: black;
}

body {
    margin: 0;
    padding: 0;
}

canvas{
    display:block;
}